.shadow-collection {
  position: absolute;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}

.shadow-card-gradient {
  opacity: 0.0001;
}

.shadow {
  display: block;
  background-color: #808080;
  margin: 5px;
  -webkit-filter: blur(8px);
}

.shadow-gradient {
  display: block;
  margin: 5px;
  -webkit-filter: blur(8px);
  background-image: -webkit-linear-gradient(top right, #DCDCDC, #808080);
  -webkit-backface-visibility: hidden; /* Chrome, Safari, Opera */
  backface-visibility: hidden;
}

.shadow-gradient-back {
  display: block;
  margin: 5px;
  -webkit-filter: blur(8px);
  background-image: -webkit-linear-gradient(bottom left, #DCDCDC, #808080);
  -webkit-backface-visibility: hidden; /* Chrome, Safari, Opera */
  backface-visibility: hidden;
}
