.shadow-collection {
  position: absolute;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}

.shadow-card-gradient {
  opacity: 0.0001;
}

.shadow {
  display: block;
  background-color: #808080;
  margin: 5px;
  -webkit-filter: blur(8px);
}

.shadow-gradient {
  display: block;
  margin: 5px;
  -webkit-filter: blur(8px);
  background-image: -webkit-linear-gradient(top, #DCDCDC, #808080);
}
